@model Baby_Tracker.Models.Intervention

@{
    ViewData["Title"] = "Intervention";
    Layout = "_babyLayout";
}

<h1>InterventionLanding</h1>

<h4>Intervention</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="InterventionLanding">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="InterventionId" />
            <div class="form-group">
                <label asp-for="SleepId" class="control-label"></label>
                <select asp-for="SleepId" class="form-control" asp-items="ViewBag.SleepId"></select>
                <span asp-validation-for="SleepId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartTime" class="control-label"></label>
                <input asp-for="StartTime" class="form-control" />
                <span asp-validation-for="StartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndTime" class="control-label"></label>
                <input asp-for="EndTime" class="form-control" />
                <span asp-validation-for="EndTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstTry" class="control-label"></label>
                <select asp-for="FirstTry" class="form-control"></select>
                <span asp-validation-for="FirstTry" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SecondTry" class="control-label"></label>
                <select asp-for="SecondTry" class="form-control"></select>
                <span asp-validation-for="SecondTry" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThirdTry" class="control-label"></label>
                <select asp-for="ThirdTry" class="form-control"></select>
                <span asp-validation-for="ThirdTry" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FourthTry" class="control-label"></label>
                <select asp-for="FourthTry" class="form-control"></select>
                <span asp-validation-for="FourthTry" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InterventionSummary" class="control-label"></label>
                <select asp-for="InterventionSummary" class="form-control"></select>
                <span asp-validation-for="InterventionSummary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
