@model Baby_Tracker.Models.Sleep

@{
    ViewData["Title"] = "StartSleep";
    Layout = "_BabyLayout";
}


<div class="row">
    <div class="col-md-4">
        <h4>Start Sleep</h4>
        <hr />
        <form asp-action="StartSleep">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="card bg-dark text-white-50" style="width: 10rem;">
                <div class="card-body">
                    <div class="form-group">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="customSwitch1" asp-for="IsNap">
                            <label class="custom-control-label" for="customSwitch1">@Html.DisplayNameFor(model => model.IsNap)</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Start" class="btn btn-secondary" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Baby" asp-action="BabyLanding" asp-route-id="@ViewData["BabyId"]">Back to Baby Page </a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
