@model Baby_Tracker.Models.Sleep

@{
    ViewData["Title"] = "StartSleep";
    Layout = "_BabyLayout";
}

<h4>Start Sleep</h4>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="StartSleep">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group form-check">
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="customSwitch1" asp-for="IsNap">
                    <label class="custom-control-label" for="customSwitch1">@Html.DisplayNameFor(model => model.IsNap)</label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Start" class="btn btn-secondary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Baby" asp-action="BabyLanding" asp-route-id="@ViewData["BabyId"]">Back to Baby Page </a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
