@model Baby_Tracker.Models.Intervention

@{
    ViewData["Title"] = "StartIntervention";
    Layout = "_babyLayout";
}

<h4>Intervention</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="StartIntervention">
            <div class="form-group">
                <input type="submit" value="Start Intervention" class="btn btn-secondary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Sleep" asp-action="SleepLanding" asp-route-id="@ViewData["SleepId"]">Back to Sleep Page </a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
