@{
    ViewData["Title"] = "Welcome Page";
    
}

<div class="text-center">
    <h1 class="display-4">Welcome to Baby's Journey!</h1>
    <img class="img-fluid shadow" src="~/images/baby2.jpg" alt="Baby Wiley!"/>
    <p class="text-lg-center">Login in or Register to start.</p>
</div>



