@{
    ViewData["Title"] = "Welcome Page";
    
}
<div class="card">
    <img class="crd-img-top" src="~/images/baby2.jpg" alt="Baby pic"/>
    <div class="card-img-overlay">
        <h1 class="display-4">Welcome to Baby's Journey!</h1>
        <p class="text-lg-center">Login in or Register to start.</p>
    </div>
</div>



