@using Baby_Tracker.Models
@{ 
    Layout = "_BabyLayout";
}

<h1>@Model.Name</h1>
<h2>Age Months: Months</h2>
<h2> Age Days: Days</h2>
<div class="row">
    <div class="col-4-md align-items-md-center" >
        <p><a class="btn btn-md btn-secondary" asp-controller="Feed" asp-action="StartFeed" asp-route-id="@Model.BabyId" role="button">Start Feeding</a></p>
    </div>
    <div class="col-4-md align-items-md-center">
        <p><a class="btn btn-md btn-secondary" asp-controller="Sleep" asp-action="StartSleep" asp-route-id="@Model.BabyId" role="button">Start Sleeping</a></p>
    </div>
</div>


