@model Baby_Tracker.Models.Feed


@{
    ViewData["Title"] = "Feed Details";
    //Layout = "_FeedLayout";
}

<h1>Feed Details</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="FeedLanding">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <div class="btn-group">
                        <!--<label asp-for="LatchQuality" class="control-label"></label>-->
                        <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
                            @Html.DisplayNameFor(model => model.LatchQuality)
                        </button>
                       
                        <select asp-for="LatchQuality" asp-items="@Html.GetEnumSelectList<LatchQuality>()" class="form-control">
                            <option selected="selected" value=""></option>
                        </select>
                        <span asp-validation-for="LatchQuality" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="ChinEngagement" class="control-label"></label>
                    <select asp-for="ChinEngagement" class="form-control"></select>
                    <span asp-validation-for="ChinEngagement" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Alertness" class="control-label"></label>
                    <select asp-for="Alertness" class="form-control"></select>
                    <span asp-validation-for="Alertness" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Fussiness" class="control-label"></label>
                    <select asp-for="Fussiness" class="form-control"></select>
                    <span asp-validation-for="Fussiness" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FeedSummary" class="control-label"></label>
                    <select asp-for="FeedSummary" class="form-control"></select>
                    <span asp-validation-for="FeedSummary" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="End Feed" class="btn btn-primary" />
                </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
