@model Baby_Tracker.Models.Feed

@{
    ViewData["Title"] = "Titty Time";
    Layout = "_BabyLayout";
}

<h4>Feed</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="StartFeed">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group form-check">
                <div class="btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-secondary">
                        <input type="checkbox" checked autocomplete="off" asp-for="IsDreamFeed"> @Html.DisplayNameFor(model => model.IsDreamFeed)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Start" class="btn btn-secondary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="BabiesLanding" asp-controller="Baby">Back to Babies Page</a>
</div>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}



